@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Megrim&display=swap');

#title,.edit-form>h1 {
    color: #fff;
    padding: 20px;
    font-family: "Megrim",cursive;
    text-shadow: 
        0 0 5px #0bf4f3,
        0 0 10px #0bf4f3,
        0 0 20px #0bf4f3,
        0 0 40px #0bf4f3,
        0 0 80px #0bf4f3;
}
#title{
    margin-right: 130px;
}
.list-item{
    color: #fff;
}
.items{
    color: #fff;
}
hr{
    width:80%;
    text-align:center;
    /* margin-left:0; */
    margin-left: 130px;
}
.patient-container{
    text-align: center;

}

.del-button,.edit-button,.save-button,.cancel-button {
    border: none;
  background-color: #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3;
    color: #fff;
    border-radius: 20px; 
  width: 100px;
  height: 33px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin: 10px;
  }
  .del-button:hover,
  .cancel-button:hover,
  .save-button:hover,
  .edit-button:hover
   {
    box-shadow: 0 0 10px #0bf4f3, 0 0 20px #0bf4f3, 0 0 20px black ;  
    background: #0bf4f3;
    color: black;
}

.field-container{
    padding-left: 450px;
    padding-top: 3rem;
    color: white;
    display:grid;
    gap: 20px;
    text-align: left;
    
}
#name{
    margin-left: 80px;
    
 }
 #email{
     margin-left: 80px;
     
  }
  #contactNo{
     margin-left: 12px;
     
  }
   #dob{
     margin-left: 35px;
     
  }
  #branch{
    margin-left: 72px;
  }

  #address{
    margin-left: 66px;
    width: 15.5rem;
    height: 3rem;
  }
  /*#doorNo{
     margin-left: 63px;
     
  }

  #area{
     margin-left: 88px;
     
  }
  #street{
    margin-left: 83px;
    
 }
  #city{
     margin-left: 92px;
     
  }
  #state{
     margin-left: 88px;
     
  }
  #pincode{
     margin-left: 68px;
     
  } */
.buttons{
    display: flex;
    gap:10px;
    margin-left: 580px;
    margin-top: 12px;
}
.title-line{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5rem;
}
.title-line>input{
    height: 1.5rem;
}
#icon{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}